.wheel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

.wheel-container canvas {
    background: whitesmoke;
    height: 100%;
    width: 100%;
    height: 50vh;
    width: 50vh;
}

.wheel-container .spin-button {
    width: 20vw;
    height: 5vh;
    margin-top: 2vh;
}